.flex{
  display: flex;
}
.center{
  justify-content: center;
  align-items: center;
}
.flex-column{
  flex-direction: column;
}

.input{
  /* -webkit-appearance: none; */
  text-align: center;
  border-radius: 25px;
  margin: 8px;;
  height: 50px;
  width: 80%;
  border: 1px solid blue;
}
.button-login{
  border-radius: 25px;
  margin: 15px 0px 0px 0px;
  width: 60%;
  height: 45px;
  background-color: blue;
  font-size: 1.5rem;
  color: white;
}
.img-logo{
  border-radius: 50%;
  margin: 15px;
}
.sing-up{
  color: white;
  font-size: 1rem;
  margin: 8px;
}
.login {
  min-height: 100vh;
  min-width: 100vw;
}

.login>.container {
  width: 100%;
}

.login>.container>.inputs {
  width: 100%;
}