.flex {
  display: -webkit-box;
  display: flex;
}

.center {
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.center-between {
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.input {
  /* -webkit-appearance: none; */
  text-align: center;
  border-radius: 25px;
  margin: 4px;
  font-size: 1rem;
  height: 45px;
  width: 300px;
  border: 1px solid blue;
}

.container-login .button, .container-sing-up .button {
  border-radius: 25px;
  margin: 25px 0px 0px 0px;
  width: 250px;
  height: 40px;
  background-color: blue;
  font-size: 1.2rem;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.button-login:hover {
  background: #434343;
  letter-spacing: 1px;
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.img-logo {
  border-radius: 50%;
  margin: 15px;
  margin-bottom: 20vh;
}

.sing-up, .return-login {
  color: white;
  font-size: 1rem;
  margin: 8px;
}

.container-login, .container-sing-up {
  min-height: 100vh;
  min-width: 100vw;
}

.login>.container {
  width: 100%;
}

.login>.container>.inputs {
  width: 100%;
}

.container-sing-up .title {
  color: white;
}

.header-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 4vh;
  width: 100vw;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-bottom: 5px;
}

.footer-container {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4vh;
  width: 100vw;
}

.list-card-container {
  margin: 15px;
  padding: 20px 10px 10px 10px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.555);
  height: 82vh;
}

.list-header-container {
  padding: 10px;
  background: rgba(252, 104, 222, 0.34);
  border-radius: 5px;
  color: white
}

.card {
  padding: 5px;
  background: rgba(247, 126, 222, 0.2);
  border-radius: 2px;
  margin-top: 10px;
  color: white;
}

.cards {
  height: calc(82vh - 50px);
  overflow-y: scroll;
}

.card.active {
  height: 104px;
  background: rgba(245, 78, 211, 0.4);
}

.button-add {
  text-align: center;
  position: absolute;
  bottom: 40px;
  color: white;
  left: 30px;
  font-size: 3rem;
  border-radius: 50%;
  background: rgba(38, 3, 196, 0.8);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 0;
}